name: update-aur-stable-src.yml
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      version:
        description: "Version tag (e.g. ttl-v0.6.9)"
        required: true

jobs:
  update-aur-package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set version
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "VERSION=${{ github.event.inputs.version }}" >> $GITHUB_ENV
          else
            echo "VERSION=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
          fi
      - name: Generate PKGBUILD
        env:
          VERSION: ${{ env.VERSION }}
        run: |
          echo "VERSION is: $VERSION"

          cat > PKGBUILD << EOF
          pkgname=twintaillauncher
          pkgver=${PKGV}
          pkgrel=1
          _dirname="TwintailLauncher-ttl-v${pkgver}"
          pkgdesc='A multi-platform launcher for your anime games'
          arch=('x86_64')
          license=('GPL-3.0-only')
          url=https://github.com/TwintailTeam/TwintailLauncher
          depends=('cairo' 'desktop-file-utils' 'gdk-pixbuf2' 'glib2' 'gtk3' 'hicolor-icon-theme' 'pango' 'webkit2gtk-4.1' 'libappindicator-gtk3' 'libayatana-appindicator')
          makedepends=('git' 'openssl' 'appmenu-gtk-module' 'libappindicator-gtk3' 'librsvg' 'cargo' 'pnpm' 'nodejs')
          provides=("${pkgname}")
          conflicts=("twintaillauncher-git" "twintaillauncher-bin")
          source=("${pkgname}.tar.gz::${url}/archive/refs/tags/ttl-v${pkgver}.tar.gz")
          sha256sums=('SKIP')
          options=('!lto' '!debug')
          
          prepare() {
            cd $_dirname
            pnpm i
          }
  
          build() {
            cd $_dirname
            pnpm build:native --no-bundle
          }
  
          package() {
            install -Dm644 $_dirname/LICENSE -t $pkgdir/usr/share/licenses/$pkgname
            install -Dm755 $_dirname/src-tauri/target/release/resources/hpatchz -t $pkgdir/usr/lib/twintaillauncher/resources/
            install -Dm755 $_dirname/src-tauri/target/release/resources/reaper -t $pkgdir/usr/lib/twintaillauncher/resources/
            install -Dm644 $_dirname/src-tauri/target/release/resources/hkrpg_patch.dll -t $pkgdir/usr/lib/twintaillauncher/resources/
            install -Dm755 $_dirname/src-tauri/target/release/twintaillauncher -t $pkgdir/usr/bin
            install -Dm644 $_dirname/twintaillauncher.desktop -t $pkgdir/usr/share/applications
            install -Dm644 $_dirname/src-tauri/icons/32x32.png $pkgdir/usr/share/icons/hicolor/32x32/apps/$pkgname.png
            install -Dm644 $_dirname/src-tauri/icons/128x128.png $pkgdir/usr/share/icons/hicolor/128x128/apps/$pkgname.png
            install -Dm644 $_dirname/src-tauri/icons/128x128@2x.png $pkgdir/usr/share/icons/hicolor/256x256@2/apps/$pkgname.png
          }
          EOF
      - name: Test PKGBUILD
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: twintaillauncher
          pkgbuild: ./PKGBUILD
          test: true
          commit_username: ${{ secrets.GIT_USER }}
          commit_email: ${{ secrets.GIT_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: "Update to version ${{ env.VERSION }}"
          ssh_keyscan_types: rsa,ecdsa,ed25519
      - name: Publish AUR package
        if: success()
        uses: KSXGitHub/github-actions-deploy-aur@v4.1.1
        with:
          pkgname: twintaillauncher
          pkgbuild: ./PKGBUILD
          commit_username: ${{ secrets.GIT_USER }}
          commit_email: ${{ secrets.GIT_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: "Update to version ${{ env.VERSION }}"
          ssh_keyscan_types: rsa,ecdsa,ed25519
